<div class="container">
    <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4">
      <a href="/dashboard" class="d-flex align-items-center justify-content-center col-md-3 ps-3 mb-2 mb-md-0 link-info link-opacity-25-hover text-decoration-none fw-bold fs-2">
        Notes
      </a>

      <form class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0" id="search-form" role="search" method="post" action="/dashboard/search">
        <input type="search" name="searchTerm" class="form-control border-primary" placeholder="Search..." aria-label="Search">
      </form>

      <div class="col-md-3 text-end">
        <a href="/logout" type="button" class="btn btn-info me-3">Logout</a>
      </div>
    </header>
</div>