<div class="container-fluid pb-5 mb-5">
    <div class="row mb-4">
        <div class="col">
            <h1>Hey, <%- userName %></h1>
        </div>
        <div class="col text-end">
            <a href="/dashboard/add" class="btn btn-success">+ New Note</a>
        </div>
    </div>
    <br/>

    <div class="row">
        <% if(notes.length > 0){ for(var i=0; i < notes.length; i++){ %> 

            <div class="col-sm-3 mb-4">
                <div class="card border-primary" style="min-height: 210px;">
                    <a href="/dashboard/item/<%= notes[i]._id %>" class="card-body text-decoration-none">
                        <h5 class="card-title text-info"><%= notes[i].title %></h5>
                        <p class="card-text"><%= notes[i].body %></p>
                    </a>
                </div>
            </div>

        <% }} else { %>
            <div class="row">
                <div class="col-3">
                    <img src="/img/pointing.png" alt="Pointing toward a create button">
                </div>
                <div class="col mt-md-4">
                    <h2>Okay...</h2>
                    <h4>Let's start with your first node!
                        <br/><br/>
                        <a href="/dashboard/add">Create one!</a>
                    </h4>
                </div>
            </div>
        <% } %>
    </div>
</div>