#container {
    max-width: 1600px;
}

:root {
    --background-color: #ffc700;
    --bs-primary-rgb: #ffffff;
}

body {
    color: var(--bs-primary-rgb);
    display: flex;
    flex-direction: column;
    font-weight: 300;
    font-size: 1.2rem;
    /*
    background: linear-gradient(90deg, rgb(201, 216, 221) 0%, rgb(214, 230, 233) 100%);
    */
    background-image: url('../img/111.png');
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
}

.kid{
    background-image: url('../img/bg2.png');
}

header{
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.09), rgba(255, 255, 255, 0.05));
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    border: 1px solid rgba(255, 255, 255, 0.18);
    border-radius: 32px;
    
}

.custom-header{
    margin-top: 20px;
}

#search-form{
    width: 20%;
}

footer{
    margin-top: auto;
}

h1,h2,h3,h4,h5,h6{
    font-family: 'Unbounded', cursive;
    font-weight: 800;
}

/* Home */
.home-title::before{
    content: url('../img/stars.svg');
    position: absolute;
    left: -50px;
    top: -30px;
}

.home-title::after{
    content: url('../img/stars.svg');
    position: absolute;
    right: -50px;
    bottom: -30px;
}

/* Buttons */

.btn{
    border-radius: 2rem;
}
